.nav {
	padding: 15px 20px;
	color: #fff;
	font-size: 20px;
	box-shadow: 0 0 20px #e4e4e441;
}

.title {
	text-shadow: 0 0 2px #f5f5f554;
}

.titleLight {
	font-size: 0.9em;
}

.titleBold {
	font-family: var(--kalameh-font);
	font-weight: 900;
	font-size: 1.2em;
	color: var(--primary-color);
}
