/* Import Persian Fonts */
@import url("assets/fonts/font-face.css");


:root {
	/* Color Palette */
	--primary-color: #0066FF;
	--background-color: #282C34;
	--foreground-color: #707175;
	--green-color: #00CEA3;
	--red-color: #FF0D3E;
	--cyan-color: #DFF1FF;
	--yellow-color: #f1fa8c;
	--gray-color: #A5A5A5;
	--contact-border-color: #707070;
	--contact-bg-color: #31353E;

	/* Fonts */
	--kalameh-font:  KalamehWeb, IRANYekan, sans-serif;
	--iranyekan-font: IRANYekan, KalamehWeb sans-serif;
}

* {
	padding: 0;
	margin: 0;
	outline: none;
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-moz-tap-highlight-color: rgba(0, 0, 0, 0);
};

body {
	font-family: IRANYekan, KalamehWeb, Raleway, sans-serif !important;
	background-color: var(--background-color);
}

a {
	text-decoration: none;
	color: inherit;
}

.container {
	max-width: 1400px;
	margin: 0 auto;
	padding: 0.2em;
}

.row {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}


/* Default Joy UI styles */
.JoyInput-input {
	font-family: var(--iranyekan-font) !important;
}

.MuiButtonBase-root {
}